body {
  padding-top: 56px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #f8f9fa;
  text-decoration: none;
}

.iconos-footer img {
  height: 52px;
  margin-left: 40px;
}

footer p {
  font-size: 15px;
}

#TituloLibro {
  text-align: center;
}

#AñadirCarro,
#FotoLibro {
  margin-left: 35%;
}

.navbar,
.footer {
  background-color: #8b5a2b !important;
}

.footer {
  padding: 50px 10px;
}
.navbar-brand {
  font-family: "Belleza", cursive;
  font-size: 30px;
}
.card-footer .btn {
  background-color: #556b2f;
  border: none;
}

.breadcrumb {
  background-color: #f0bc8c;
  color: white;
}

.btn-brown {
  background-color: #8b5a2b;
  color: white;
  border: none;
}

.btn-brown:hover {
  background-color: #704214;
  color: white;
}
.input-icon {
  background-image: url("/iconos/Lupa.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px;
  padding-left: 35px;
}
