<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LéemeOtravez</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/JqueryBootStrap/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:include="admin/admin.html::header"></div>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Bienvenido a LéemeOtravez</h1>
        <p class="lead">Tu tienda de libros en Línea</p>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4" th:each="libro : ${libros}">
          <div class="card h-100">
            <img class="card-img-top" th:src="@{/imgs/{img}(img=${libro.imagen})}" alt="">
            <div class="card-body">
              <p class="card-text" th:text="${libro.titulo}"></p>
            </div>
            <div class="card-footer">
              <a href="productohome.html" class="btn btn-success">Ver libro</a>
            </div>
          </div>
        </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <div th:include="admin/admin.html::footer"></div>
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/JqueryBootStrap/jquery/jquery.min.js}"></script>
    <script th:src="@{/JqueryBootStrap/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
