<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Denegado</title>
    <script>
        setTimeout(() => {
            window.location.href = "/usuario/login";
        }, 5000);
    </script>
</head>
<body>
    <h2 style="text-align: center;"><b><u>Acceso Denegado</u></b></h2>
    <p style="text-align: center;">No tienes permiso para acceder.</p>
    <p style="text-align: center;">Serás redirigido en 5 segundos...</p>
</body>
</html>
