<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>LéemeOtraVez</title>

    <link
      th:href="@{/JqueryBootStrap/bootstrap/css/bootstrap.min.css}"
      rel="stylesheet"
    />

    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
  </head>

  <body>
    <div th:include="usuario/TemplateUsuario.html::header"></div>

    <div class="container">
      <h1 class="mt-4 mb-3">Resumen de la compra</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Compra</li>
      </ol>

      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-9">
              <div class="card-body">
                <h5 class="card-title">DATOS COMPRA</h5>
                <h6 th:text="'Nombre: '+${usuario.nombre}">Nombre:</h6>
                <h6 th:text="'Email: '+${usuario.email}">Correo:</h6>
                <h6 th:text="'Dirección: '+${usuario.direccion}"></h6>
                <br />

                <h5 class="card-title">LIBROS</h5>
                <div class="alert alert-light" role="alert">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Libro</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="det : ${carro}">
                        <td th:text="${det.titulo}"></td>
                        <td th:text="${det.precio}+€"></td>
                        <td th:text="${det.cantidad}"></td>
                        <td th:text="${det.precioTotal}+€"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-lg-3">
              <h2 class="card-title">Resumen Compra</h2>

              <ul class="list-group">
                <li class="list-group-item">
                  <h5 th:text="'Precio Total: '+${compra.precioTotal}+€"></h5>
                </li>
                <a th:href="@{saveCompra}" class="btn btn-brown">Tramitar</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:include="usuario/TemplateUsuario.html::footer"></div>

    <script th:src="@{/JqueryBootStrap/jquery/jquery.min.js}"></script>
    <script
      th:src="@{/JqueryBootStrap/bootstrap/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
