<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>LéemeOtravez</title>

    <link
      th:href="@{/JqueryBootStrap/bootstrap/css/bootstrap.min.css}"
      rel="stylesheet"
    />
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
  </head>

  <body>
    <div th:include="admin/admin.html::header"></div>

    <div class="container">
      <br />

      <h1 class="mt-4 mb-3"></h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Ver Libros</li>
      </ol>

      <a class="btn btn-brown" th:href="@{/libros/crear}">Añadir Libro</a><br />
      <br />
      <h2>Libros</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Categoría</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="libro:${libros}">
            <td th:text="${libro.titulo}"></td>
            <td th:text="${libro.autor}"></td>
            <td th:text="${libro.categoria.name()}"></td>
            <td th:text="${libro.cantidad}"></td>
            <td th:text="${libro.precio}"></td>
            <td>
              <a
                class="btn btn-brown"
                th:href="@{libros/edit/{id} (id=${libro.id})}"
                >Editar</a
              >
            </td>
            <td>
              <a
                class="btn btn-danger"
                th:href="@{libros/delete/{id} (id=${libro.id})}"
                >Eliminar</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div th:include="admin/admin.html::footer"></div>

    <script th:src="@{/JqueryBootStrap/jquery/jquery.min.js}"></script>
    <script
      th:src="@{/JqueryBootStrap/bootstrap/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
